data
/data
*/data

data/
data/*
/data/
/data/*
*/data/
*/data/*

Ongoing Notes.txt

.ipynb_checkpoints
/.ipynb_checkpoints
*/.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
/.ipynb_checkpoints/
/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
*/.ipynb_checkpoints/*

*.log
*.pkl

.DS_Store

